@use "../../utils/styles/variables" as vars;

#firstGeneration {
  padding: 2em;
  background: #f2f2f2;
}

#firstGeneration section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#firstGeneration h2 {
  font-size: 18px;
  text-align: center;
  position: relative;
  margin-bottom: 2em;

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: black;
    bottom: -10px;
    left: calc(50% - 50px);
  }
}

#firstGeneration .goBackIcn {
  font-size: 2em;
  cursor: pointer;
}

#firstGeneration .cardContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 90%;

  @media (max-width: vars.$mobileWidth) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
